@media (min-width: 320px) {
  .accordion {
    padding: 30px 15px;
  }

  .accordion__item {
    border-bottom: 0.1em solid #808691;
    transition: opacity 0.3s ease-out;
  }

  .accordion__icon {
    width: 1em;
    height: 1em;
    margin-left: auto;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.1s ease;
  }

  .accordion__title {
    padding: 1em 0.5em 1em 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1em;
    line-height: 140%;
    color: #3471eb;
    transition: color 0.3s ease-out, opacity 0.3s ease-out;
  }

  .accordion__item:active .accordion__title {
    color:#3471eb !important;
  }

  .accordion__item:active {
    opacity: 0.7;
  }

  .accordion__input:checked ~ .accordion__content {
    max-height: 100%;
  }

  .accordion__input:checked ~ .accordion__content .accordion__img {
    max-height: 100%;
    transform: scale(1);
  }

  .accordion__input:checked ~ .accordion__title {
    color: #000000;
  }

  .accordion__content {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }

  .accordion__content:active {
    max-height: 100%;
  }

  .accordion__img {
    padding: 1em 0;
    max-width: 30em;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    max-height: 0;
    transform: scale(0.5);
    transition: max-height 0.5s ease-out, transform 0.3s ease-out;
  }
}

@media (min-width: 768px) {
  .accordion {
    margin: 0 auto;
    width: 90%;
  }

  .accordion__title {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .accordion {
    width: 80%;
  }

  .accordion:hover .accordion__title {
    color: #000000;
  }

  .accordion:hover .accordion__title .accordion__icon {
    opacity: 1;
  }

  .accordion__item:hover .accordion__content {
    max-height: 100%;
  }

  .accordion__item:hover .accordion__title .accordion__icon {
    opacity: 1;
    transform: rotate(0);
  }

  .accordion:hover .accordion__input:checked ~ .accordion__title .accordion__icon {
    opacity: 1;
    transform: rotate(0);
  }

  .accordion__item:active .accordion__title .accordion__icon {
    opacity: 1;
    transform: rotate(0);
  }

  .accordion__item:active .accordion__title .accordion__icon path {
    stroke:#3471eb !important;
  }

  .accordion__item {
    cursor: pointer;
  }

  .accordion__title {
    font-size: 2em;
  }
}

@media (min-width: 1440px) {
  .accordion {
    width: 70%;
  }
}